<html>
    <head>
        <link href="assets/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <% if(number%2 == 0) { %> 
          <h1>Es par:</h1>
        <ul> <% for(let i = 1; i<=number * 2; i++) { %>
             <li> <%= i %>
          <% } %> </li>
        <% } else{ %>  
          <h1>Es impar:</h1>
        <% for(let i = 1; i<=number; i++) { %>
            <li> <%= i %>
          <% } %> </li>
        </ul>
      <% } %>
    </body>
</html>