<html>
    <head>
        <link href="assets/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <h1><% if(number/2 = 0) { %>
            <% for(let i = 0; i=number * 2, i++) { %>
               <% <h1>i</h1> %>
            <% } %>
          <% } else{ %>  
            <% for(let i = 0; i, i++){ %>
              <% <h1>i</h1> %>
            <% } %>
        <% } %>
    </body>
</html>